* { margin:0; 
    padding:0; 
    box-sizing:border-box; 
}

p{
    font-family:"Crumbline Sans","Helvetica",sans-serif;
    font-size:16px;
    color: #8B0028;
}

h1,h2,h3{
    font-family:"Crumbline Sans","Helvetica",sans-serif;
    font-weight:bold;
    color:#8B0028;
}

h1{ 
    font-size:2.75em; 
}

h2{
    font-size: 1.75em;
}

h3{
    font-size: 1.25em;
}
a{
    text-decoration:none;
    color:#8B0028;
}

.title{
    display:flex;
    justify-content: center;
    background-color: #F0BCC7;
    
}

.title-box{
    max-width:1000px;
    margin:0 auto;
    padding: 60px 20px;
}

.mobile-header{
    display:none;
}

.menu-toggle{
  display:none;
  font-size:35px;
  cursor:pointer;
}

.menu-toggle i{
  transition:0.2s;
}

.navbar{
    background-color:#FAFAFA;
    display:flex;
    justify-content:center;
    align-items:center;
    height:60px;
}

.menu a:hover, .locations a:hover, .about a:hover, .contact a:hover{
    text-decoration:underline;
}

.nav-links{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:45px;
}

.footer{
    background-color:#FAFAFA;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    padding:15px 20px;
}

.footer p{
    font-size: 14px;
}
.socialscontainer,.footerlogo,.contactcontainer{
    width:33.33%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.contactcontainer{ 
    gap:2px; 
}

.sociallinks{
    display:flex;
    gap:20px;
}

@media (max-width:768px){
    h1{
        font-size: 1.75em;
    }
    h2{
        font-size: 1.35em;
    }
    h3{
        font-size: 1.15em;
    }
    .mobile-header{
        display:flex;
        justify-content:space-between;
        align-items:center;
        background-color:#FAFAFA;
        padding:15px 20px;
    }

    .mobile-logo{
        flex:1;
        text-align:center;
    }

    .mobile-logo a{
        color:#8B0028;
        text-decoration:none;
        font-size:20px;
        font-weight:bold;
    }

    .menu-toggle{
        display:block;
        font-size:28px;
        cursor:pointer;
        color:#000;
    }

    .navbar{
        display:none;
        background-color:#FAFAFA;
        height:auto;
        padding:10px 0 20px;
    }

    .navbar.active{
        display:block;
    }

    .nav-links{
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:20px;
    }

    .nav-links .logo{
        display:none;
    }

    .footer{
    flex-direction:column;
    align-items:center;
    gap:20px;
    }

    .socialscontainer,.footerlogo, .contactcontainer{
    width:100%;
    }

   .footerlogo{
    order:1;
    }

   .contactcontainer{
    order:2;
    } 

   .socialscontainer{
    order:3;
    }
}